<!--I chose to always display the contact list, so the user can select a contact to
see their information or change it-->
<div class = "myContactList">
  <div class = "listHeader">
      <h2>My Contacts</h2>
      <button class ='adding' (click)="onAdd()">
        Add New Contact
      </button>
  </div>

  <!--this displays the list of contacts containing just their ID and full name, so
  the user can click on their 'badge' to reveal or edit the contact's information-->
  <ul class="contacts">
    <li *ngFor="let contact of contacts"
        [class.selected]="contact === selectedContact"
        (click)="onSelect(contact)">
      <span class="badge">{{contact.id}}</span> {{contact.firstName}} {{contact.lastName}}
    </li>
  </ul>
</div>

<!--the children components are rendered with information passed down from the parents-->
<div class = "profile">
  <app-contact-detail
    [contact]="selectedContact"
    [contacts]="contacts"
    (updateContact)="updateContactCallback($event)">
  </app-contact-detail>
  <app-contact-add
    [addContact] = "addContact"
    (updateContact)="addContactCallback($event)">
  </app-contact-add>
</div>
