<div class = "myContactList">
  <div class = "listHeader">
      <h2>My Contacts</h2>
      <button class ='adding' (click)="onAdd()">
        Add New Contact
      </button>
  </div>
  <ul class="contacts">
    <li *ngFor="let contact of contacts"
        [class.selected]="contact === selectedContact"
        (click)="onSelect(contact)">
      <span class="badge">{{contact.id}}</span> {{contact.firstName}} {{contact.lastName}}
    </li>
  </ul>
</div>

<div class = "profile">
  <app-contact-detail
    [contact]="selectedContact"
    [contacts]="contacts"
    (updateContact)="updateContactCallback($event)">
  </app-contact-detail>
  <app-contact-add
    [addContact] = "addContact"
    (updateContact)="addContactCallback($event)">
  </app-contact-add>
</div>
