<!--I decided to inject the HTML for the contact's profile when selected because
it should not be revealed yet until a specific contact's information needs
to be changed.-->

<div *ngIf="contact">
<div class = 'profile'>
  <h2>{{contact.firstName}} {{contact.lastName}}</h2>
  <div class="info"><span>ID: </span>{{contact.id}}</div>
  <div class="info"><span>First Name: </span>{{contact.firstName}}</div>
  <div class="info"><span>Last Name: </span>{{contact.lastName}}</div>
  <div class="info"><span>Email: </span>{{contact.email}}</div>
  <div class="info"><span>Phone Number: </span>{{contact.number}}</div>
  <div class="info"><span>Status: </span>{{contact.status}}</div>

  <button class ='btn1' (click)="onEdit()">
    Edit Contact Information
  </button>

  <!--Editing a contact's information should only be available when a contact is chosen
  and needing to change the contact's information is necessary to prevent any accidental
  changes-->
  <div *ngIf="contact.edit">
    <div class="info">
      <label>First name:
        <input #newFirstName type="text" [ngModel]="contact.firstName" placeholder="New First name">
      </label>
    </div>

    <div class="info" >
      <label>Last name:
        <input #newLastName type="text"  [ngModel]="contact.lastName" placeholder="New Last name">
      </label>
    </div>

    <div class="info">
      <label>Email:
        <input #newEmail type="text" [ngModel]="contact.email" placeholder="New Email">
      </label>
    </div>

    <div class="info">
      <label>Phone Number:
        <input #newNumber type="text"  [ngModel]="contact.number" placeholder="New Number">
      </label>
    </div>

    <!--I chose to perform one way databinding over two way databinding because
    the user should confirm the information they put in before making changes to the
    contact's information-->
    <button class ='btn1' (click)="onChange(newFirstName, newLastName, newEmail, newNumber)">
      Submit Changes
    </button>

    <!--Button deletes the current contact from the server and will log it to the
    messaging service-->
    <button
      class="btn2"
      title="delete hero"
      (click)="onDelete(contact)">
      Delete
    </button>

    <!--I chose to use a button to toggle between activating a contact's profile
    or inactivating it to improve on user experience.-->
    <button *ngIf="contact.status == 'Active'; else notActive" class ='btn2' (click)="activeToggle()">
      Inactivate Status
    </button>
    <ng-template #notActive>
      <button class ='btn2' (click)="activeToggle()">
        Activate Status
      </button>
    </ng-template>
  </div>
</div>
</div>
