:host {
  display: block;
  width: 40%;
}

h2 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: crimson;
  font-family: Cambria, Georgia;
}

button.clear {
  margin-top: 1em;
  background-color: #eee;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.clear {
  color: #888;
  margin-bottom: 12px;
}
